.nameCheap{
    margin: 241px 258px 41px 258px;
    text-align: center;
    opacity: 1;
    height: 37px;}
.label{ 
    text-align: left;
    font: Regular 16px/20px PT Sans;
    letter-spacing: 0px;
    color: #3F4451;
    opacity: 1;
    
}
.input{
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 0.75px solid #3F44511F;
    border-radius: 4px;
    opacity: 1;
}
.paragrape{
    text-align: left;
    font: Regular 14px/18px PT Sans;
    letter-spacing: 0px;
    color: #4E5983;
    opacity: 0.48;
    margin: 10px 10px;
}
.create{
    padding-top: 103px;
    text-align: left;
    font: Bold 32px/40px PT Sans;
    letter-spacing: 0px;
    color: #181D33;
    opacity: 1;
}